<!DOCTYPE html>
<html lang="ko" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>지도 생성하기</title>

</head>
<body>
<!-- 지도를 표시할 div 입니다 -->
<div id="map" style="width:100%;height:1000px;"></div>

<button type="submit" class="btn btn-lg btn-primary" id="getMyPositionBtn" onclick="getCurrentPosBtn()">내 위치 가져오기</button>


<script type="text/javascript"  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dcea8d09f8f678726a52bb6b0423b2bb"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script th:inline="javascript">
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    function locationLoadSuccess(pos){
        // 현재 위치 받아오기

        var currentPos = new kakao.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
        // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
        map.panTo(currentPos);

        // 마커 생성
        var marker = new kakao.maps.Marker({
            position: currentPos
        });

        // 기존에 마커가 있다면 제거
        marker.setMap(null);
        marker.setMap(map);

        var info = JSON.stringify({"latitude" : pos.coords.latitude, "longitude" : pos.coords.longitude});

        $.ajax({
            type: "POST",
            url : "/map/draw",
            contentType : "application/json",        //ajax로 formData 전송시 필요
            processData : false,
            dataType: 'JSON',
            data : info
        });
    }

    function locationLoadError(pos){
        alert('위치 정보를 가져오는데 실패했습니다.');
    }

    // 위치 가져오기 버튼 클릭시
    function getCurrentPosBtn(){
        navigator.geolocation.getCurrentPosition(locationLoadSuccess, locationLoadError);
    }

    $.ajax({
        type : "POST",
        url : "map/draw",
        contentType : 'application/json;charset=UTF-8',
        dataType : 'json',
        data : {

        },
        success : function(data) {
                alert(data);
                alert(data.latitude);
                alert(data.longitude);
        },
        error : function() {
            alert("??");
        }
    });

    var linePath = [
        new kakao.maps.LatLng(1, 1),
        new kakao.maps.LatLng(2, 2)
    ]

    // 지도에 표시할 선을 생성합니다
    var polyline = new kakao.maps.Polyline({
        path: linePath, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#FFAE00', // 선의 색깔입니다
        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });

    // 지도에 선을 표시합니다
    polyline.setMap(map);

</script>
</body>
</html>